<router-outlet></router-outlet>
<div class="container-fluid">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Task Management</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#addEmployee"
                    [routerLink]="['/home']" type="submit">Add Task</button>
            </div>
        </div>
    </nav>



    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Task ID</th>
                <th scope="col">Task Name</th>
                <th scope="col">Task Type </th>
                <th scope="col">Time</th>
            <th scope="col">$/h</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let task of taskList">
                <td>{{task.TaskID}}</td>
                <td>{{task.TaskName}}</td>
                <td>{{task.TaskType}}</td>
                <td>{{task.StartTime| date:'HH:mm'}}</td>
                <td>{{task.Amount}}</td>
            </tr>

        </tbody>
    </table>
</div>